Django>=4.2,<5.0
gunicorn
whitenoise
pillow
django-crispy-forms
crispy-bootstrap5
django-allauth
cloudinary
django-cloudinary-storage
dj-database-url
django-environ
django-storages
djangorestframework
djangorestframework-simplejwt
django-summernote
django-autoslug
django-cors-headers
