{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome - {{ block.super }} {% endblock %}

{%  block content %}
    <div class="container-fluid">
        <div class="header-back"></div>
        <div class="description">
            <h1>
                Welcome,
                <p>
                    to Christine Eidmann's website.
                </p>
                <a href="{% url 'website:about' %}" class="btn btn-secondary btn-lg">See more</a>
            </h1>
        </div>

    </div>

{#</header>#}
{% endblock %}
